.brand-primary,
.gold {
 color: $gold;
}

.bg-brand-primary,
.bg-gold {
  background-color: $gold;
}

.brown-dark {
  color: $brown-dark;
}

.bg-brown-dark {
  background-color: $brown-dark;
}

.brown-light {
  color: $brown-light;
}

.bg-brown-light {
  background-color: $brown-light;
}

.success-green {
  color: $success-green;
}

.bg-success-green {
  background-color: $success-green;
}

.alert-red {
  color: $alert-red
}

.bg-alert-red {
  background-color: $alert-red;
}

.alert-red-light {
  color: $alert-red-light
}

.bg-alert-red-light {
  background-color: $alert-red-light;
}

.gray-700 {
  color: $gray-700;
}

.bg-gray-700 {
  background-color: $gray-700;
}

.gray-600 {
  color: $gray-600;
}

.bg-gray-600 {
  background-color: $gray-600;
}

.gray-500 {
  color: $gray-500;
}

.bg-gray-500 {
  background-color: $gray-500;
}

.gray-400 {
  color: $gray-400;
}

.bg-gray-400 {
  background-color: $gray-400;
}

.gray-300 {
  color: $gray-300;
}

.bg-gray-300 {
  background-color: $gray-300;
}

.gray-200 {
  color: $gray-200;
}

.bg-gray-200 {
  background-color: $gray-200;
}

.gray-100 {
  color: $gray-100;
}

.bg-gray-100 {
  background-color: $gray-100;
}
