@font-face {
  font-family: 'ConduitITCStd-Regular';
  src: url('../../dist/fonts/ConduitITCStd-Regular.eot');
  src: url('../../dist/fonts/ConduitITCStd-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../dist/fonts/ConduitITCStd-Regular.svg#ConduitITCStd-Regular') format('svg'),
  url('../../dist/fonts/ConduitITCStd-Regular.ttf') format('truetype'),
  url('../../dist/fonts/ConduitITCStd-Regular.woff') format('woff'),
  url('../../dist/fonts/ConduitITCStd-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ConduitITCStd-Bold';
  src: url('../../dist/fonts/ConduitITCStd-Bold.eot');
  src: url('../../dist/fonts/ConduitITCStd-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../dist/fonts/ConduitITCStd-Bold.svg#ConduitITCStd-Bold') format('svg'),
  url('../../dist/fonts/ConduitITCStd-Bold.ttf') format('truetype'),
  url('../../dist/fonts/ConduitITCStd-Bold.woff') format('woff'),
  url('../../dist/fonts/ConduitITCStd-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ConduitITCStd-MediumItalic';
  src: url('../../dist/fonts/ConduitITCStd-MediumItalic.eot');
  src: url('../../dist/fonts/ConduitITCStd-MediumItalic.eot?#iefix') format('embedded-opentype'),
  url('../../dist/fonts/ConduitITCStd-MediumItalic.svg#ConduitITCStd-MediumItalic') format('svg'),
  url('../../dist/fonts/ConduitITCStd-MediumItalic.ttf') format('truetype'),
  url('../../dist/fonts/ConduitITCStd-MediumItalic.woff') format('woff'),
  url('../../dist/fonts/ConduitITCStd-MediumItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ConduitITCStd-Medium';
  src: url('../../dist/fonts/ConduitITCStd-Medium.eot');
  src: url('../../dist/fonts/ConduitITCStd-Medium.eot?#iefix') format('embedded-opentype'),
  url('../../dist/fonts/ConduitITCStd-Medium.svg#ConduitITCStd-Medium') format('svg'),
  url('../../dist/fonts/ConduitITCStd-Medium.ttf') format('truetype'),
  url('../../dist/fonts/ConduitITCStd-Medium.woff') format('woff'),
  url('../../dist/fonts/ConduitITCStd-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ConduitITCStd-Light';
  src: url('../../dist/fonts/ConduitITCStd-Light.eot');
  src: url('../../dist/fonts/ConduitITCStd-Light.eot?#iefix') format('embedded-opentype'),
  url('../../dist/fonts/ConduitITCStd-Light.svg#ConduitITCStd-Light') format('svg'),
  url('../../dist/fonts/ConduitITCStd-Light.ttf') format('truetype'),
  url('../../dist/fonts/ConduitITCStd-Light.woff') format('woff'),
  url('../../dist/fonts/ConduitITCStd-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
