label {
  font-size: $font-size-100;
  line-height: $font-size-100;
  text-transform: uppercase;
  color: $gray-600;
  font-family: $font-family-sans-bold;

  &.checkbox-default,
  &.radio-default {
    font-family: $font-family-sans-regular;
  }
}

input:not([type="checkbox"]):not([type="radio"]),
textarea {
  width: 100%;
  border: 1px solid $gray-400;
  background-color: $gray-100;
  padding: $spacing-300;
  color: $gray-500;
  font-family: $font-family-sans-italic;
  font-size: $font-size-100;
  margin: $spacing-100 0 $spacing-400;
  -webkit-appearance: none;
  appearance: none;
  box-shadow: none;
  cursor: pointer;

  &:focus,
  &:active,
  &:not(:placeholder-shown) {
    border-color: $gray-600;
    font-family: $font-family-sans-regular;
    color: $gray-600;
    background-color: $white;
    box-shadow: none;
  }

  &:focus {
    outline: 3px solid $gold;
  }
}

.input-caption-above {
  margin: 0;
  color: $gray-500;
  font-size: $font-size-75;
  padding-top: $spacing-100;
}

.input-caption-below {
  color: $gray-500;
  font-size: $font-size-75;
  margin-top: -$spacing-300;
  margin-bottom: $spacing-400;
}

.input-error {
  margin-bottom: $spacing-400;

  input:not([type="radio"]):not([type="checkbox"]) {
    border-color: $alert-red;
    border-width: 3px;
    background-color: $alert-red-light;
    color: $gray-600;
    margin-bottom: $spacing-100;
  }

  .validation-error {
    font-size: $font-size-100;
    font-family: $font-family-sans-italic;
    color: $alert-red;
    text-transform: none;
    position: relative;
    padding-left: $spacing-400;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      height: $spacing-300;
      width: $spacing-300;
      content: url($icon-warning-small);
    }
  }
}

// Select Lists

select {
  width: 100%;
  border: 1px solid $gray-400;
  background-color: $gray-100;
  padding: $spacing-300;
  color: $gray-700;
  font-family: $font-family-sans-regular;
  font-size: $font-size-100;
  transition: $transition-base;
  margin: $spacing-100 0 $spacing-400;
  -webkit-appearance: none;
  background-position: calc(100% - #{$spacing-200}) 50%;
  background-size: 17px 12px;
  background-image: url($icon-select-small);
  background-repeat: no-repeat;
  border-radius: 0;
  cursor: pointer;
}

.select-with-link {
  position: relative;

  a {
    position: absolute;
    top: 0;
    right: $spacing-100;
    text-decoration: underline;
    font-size: $font-size-100;
  }
}

.select-with-internal-label {
  position: relative;

  label {
    position: absolute;
    top: 27px; // very specific one-off styling here
    left: $spacing-300;
    background-color: unset;
  }
}

select:focus {
  border: 1px solid #000;
}

/*MAGIC: hides dotted lines in FF for mac*/
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

/*MAGIC: this is the key for getting rid of the down arrow in IE*/
select::-ms-expand {
  display: none;
}

// End Select Lists

fieldset {
  border: none;
  font-size: $font-size-100;
}

// Checkboxes
// Align the fake checkbox and label text
.checkbox-default {
  $checkbox-size: $spacing-350; //20px
  $checkbox-border-width: 0.0625rem; //1px
  $checkbox-focus-width: 0.1875rem; //3px
  cursor: pointer;

  display: flex;
  align-items: center;
  padding: $spacing-100;

  .checkbox-label {
    padding-left: $spacing-100;
    text-transform: capitalize;
  }

  // Visually hide the actual checkbox. DO NOT USE DISPLAY NONE
  input[type="checkbox"] {
    opacity: 0;
    height: 1px;
    width: 1px;
    margin: -1px;
  }

  // Make the div inside the label look like a checkbox
  input[type="checkbox"] + div {
    position: relative;
    height: $checkbox-size;
    width: $checkbox-size;
    border: $checkbox-border-width solid $gray-600;
    background: unset;

    // Before and after pseudo elements display the focus and checked states
    &:before,
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      height: $checkbox-size - 2*$checkbox-border-width;
      width: $checkbox-size - 2*$checkbox-border-width;
      border: $checkbox-focus-width solid transparent;
    }
  }

  // when a checkbox receives focus, style the label's div:before pseudo element
  input[type="checkbox"]:focus + div {
    // browser default focus ring (optional)
    //outline: 1px dashed #212121;
    //outline: 5px auto -webkit-focus-ring-color;

    &:before {
      border-color: $gold;
    }
  }

  // when a checkbox is checked, style the label's div:before and :after pseudo elements
  input[type="checkbox"]:checked + div {
    &:before {
      border-color: $gold;
      background-color: $gold;
    }

    &:after {
      top: -$checkbox-border-width;
      left: -$checkbox-border-width;
      content: url($icon-check-small);
      font-size: $font-size-50;
      height: $spacing-350;
      width: $spacing-350;
    }
  }
}

// Radio Buttons
.radio-default {
  $radio-size: $spacing-350; //20px
  $radio-border-width: 0.0625rem; //1px
  $radio-focus-width: 0.1875rem; //3px
  cursor: pointer;

  display: flex;
  align-items: center;
  padding: $spacing-100;

  .radio-label {
    padding-left: $spacing-100;
    text-transform: capitalize;
  }

  // Hide the radio button visually.
  input[type="radio"] {
    opacity: 0;
    height: 1px;
    width: 1px;
    margin: -1px;
  }

  input[type="radio"] + div {
    position: relative;
    height: $radio-size;
    width: $radio-size;
    border: $radio-border-width solid $gray-600;
    background: unset;
    border-radius: 50%;

    // Before and after pseudo elements display the focus and checked states
    &:before,
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      border: $radio-focus-width solid transparent;
      border-radius: 50%;
    }

    &:before {
      height: $radio-size - 2*$radio-border-width;
      width: $radio-size - 2*$radio-border-width;
    }

    &:after {
      height: $radio-size - 2*($radio-focus-width + $radio-border-width);
      width: $radio-size - 2*($radio-focus-width + $radio-border-width);;
    }
  }

  // when a radio receives focus, style the label's div:before pseudo element
  input[type="radio"]:focus + div {
    // browser default focus ring (optional)
    //outline: 1px dashed #212121;
    //outline: 5px auto -webkit-focus-ring-color;

    &:before {
      border-color: $gold;
    }
  }

  // when a radio is checked, style the label's div:before and :after pseudo elements
  input[type="radio"]:checked + div {
    &:before {
      border-color: $gold;
      background-color: $gold;
    }

    &:after {
      top: $radio-focus-width;
      left: $radio-focus-width;
      background-color: $gray-600;
    }
  }
}

.radio-color-swatch {
  $color-radio-size: $spacing-700; //48px
  $color-radio-size-small: $spacing-500; // 32px
  $color-radio-border-width: 0.0625rem; //1px
  $color-radio-focus-width: 0.1875rem; //3px
  cursor: pointer;

  position: relative;
  display: inline-block;
  height: $color-radio-size;
  width: $color-radio-size;
  border: $color-radio-border-width solid $gray-500;
  background-color: $white;
  line-height: 0;
  cursor: pointer;
  margin-right: $spacing-100;

  input[type="radio"] {
    position: absolute;
    opacity: 0;
    height: 1px;
    width: 1px;
    margin: -1px;
    top: -1px;
  }

  input[type="radio"] + div {
    position: absolute;
    height: $color-radio-size - 2*$color-radio-border-width;
    width: $color-radio-size - 2*$color-radio-border-width;
    border: $color-radio-border-width solid $white;
  }

  input[type="radio"]:focus + div {
    outline: 2*$color-radio-border-width solid $gold;
  }

  input[type="radio"]:checked + div {
    outline: 2*$color-radio-border-width solid $gray-600;
  }

  input[type="radio"]:disabled + div:after {
    position: absolute;
    top: $spacing-200 - 2*$color-radio-border-width;
    left: $spacing-200 - 2*$color-radio-border-width;
    content: url($icon-x-outline);
    height: $spacing-400;
    width: $spacing-400;
    font-size: $spacing-400;
  }

  &.small {
    height: $color-radio-size-small;
    width: $color-radio-size-small;

    input[type="radio"] + div {
      height: $color-radio-size-small - 2*$color-radio-border-width;
      width: $color-radio-size-small - 2*$color-radio-border-width;
    }

    input[type="radio"]:disabled + div:after {
      top: $spacing-50 - 2*$color-radio-border-width;
      left: $spacing-50 - 2*$color-radio-border-width;
    }
  }
}

// Toggle Buttons
.toggle-button {
  position: relative;
  background-color: $gray-600;
  height: $spacing-400;
  width: $spacing-700;
  border: none;
  border-radius: $spacing-400/2;
  cursor: pointer;

  &:disabled,
  &[disabled] {
    background-color: $gray-150;

    &:after {
      background-color: $gray-300;
    }
  }

  &:after {
    content: '';
    position: absolute;
    top: $spacing-50;
    left: $spacing-50;
    background-color: $gold;
    height: $spacing-300;
    width: $spacing-300;
    border-radius: 50%;
    transition: $transition-base;
  }

  &[aria-checked="false"] {
    &:after {
      left: $spacing-700 - $spacing-350;
    }
  }
}
