/* TEXT STYLES */
html{
  -webkit-font-smoothing: antialiased;
}

* {
  color: $gray-700;
  border-color: $gray-700;
  background-color: $white;
}

.dark-theme,
.dark-theme * {
    color: $white;
    border-color: $white;
    background-color: $gray-700;
}

// Heading Styles
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  margin-bottom: 0.3em;
  font-family: $font-family-sans-bold;
  line-height: 1;
  color: $gray-700;
  }

h1,
.h1 {
  font-size: $font-size-600;

  @media(min-width: $screen-desktop) {
    font-size: $font-size-700;
  }

  &.pdp {
    font-size: $font-size-500;

    @media(min-width: $screen-desktop) {
      font-size: $font-size-600;
    }
  }
}

h2,
.h2 {
  font-size: $font-size-400;

  @media(min-width: $screen-desktop) {
    font-size: $font-size-500;

  }

  //&.pdp {
  //  font-size: $font-size-;
  //
  //  @media(min-width: $screen-) {
  //    font-size: $font-size-;
  //  }
  //}
}

h3,
.h3 {
  font-size: $font-size-300;

  @media(min-width: $screen-desktop) {
    font-size: $font-size-400;
  }

  //&.pdp {
  //  font-size: $font-size-;
  //
  //  @media(min-width: $screen-) {
  //    font-size: $font-size-;
  //  }
  //}
}

h4,
.h4 {
  font-size: $font-size-200;

  @media(min-width: $screen-desktop) {
    font-size: $font-size-300;
  }

  //&.pdp {
  //  font-size: $font-size-;
  //
  //  @media(min-width: $screen-) {
  //    font-size: $font-size-;
  //  }
  //}
}

h5,
.h5 {
  font-size: $font-size-100;

  @media(min-width: $screen-desktop) {
    font-size: $font-size-200;
  }

  //&.pdp {
  //  font-size: $font-size-;
  //
  //  @media(min-width: $screen-) {
  //    font-size: $font-size-;
  //  }
  //}
}

h6,
.h6 {
  font-size: $font-size-75;

  @media(min-width: $screen-desktop) {
    font-size: $font-size-100;
  }

  //&.pdp {
  //  font-size: $font-size-;
  //
  //  @media(min-width: $screen-) {
  //    font-size: $font-size-;
  //  }
  //}
}

// Paragraph Styles

p,
.paragraph {
  font-family: $font-family-sans-regular;
  font-weight: normal;
  font-size: $font-size-100;
  line-height: $font-size-300;
  color: $gray-600;
  margin-top: 0;
  text-transform: none;
}

.paragraph-large {
  font-size: $font-size-300;
  color: $gray-500;
  line-height: $font-size-400;
}

.paragraph-small {
  font-size: $font-size-50;
  line-height: $font-size-100;
}

.dark-theme {
  p,
  .paragraph,
  .paragraph-large,
  .paragraph-small {
    color: $white;
  }
}


a {
  font-family: $font-family-sans-regular;
  color: $brown-dark;
  text-transform: none;
  text-decoration: none;

  &:hover,
    &:focus {
    text-decoration: underline;
  }
}

label {
    font-family: $font-family-sans-regular;
    font-size: $font-size-75;
    color: $gray-700;
    margin-top: 0;
    line-height: 1.5;
    text-transform: none;
}

// Utility classes
.font-size-1000 {
  font-size: $font-size-1000;
}
.font-size-900 {
  font-size: $font-size-900;
}
.font-size-800 {
  font-size: $font-size-800;
}
.font-size-700 {
  font-size: $font-size-700;
}
.font-size-600 {
  font-size: $font-size-600;
}
.font-size-500 {
  font-size: $font-size-500;
}
.font-size-400 {
  font-size: $font-size-400;
}
.font-size-300 {
  font-size: $font-size-300;
}
.font-size-200 {
  font-size: $font-size-200;
}
.font-size-100 {
  font-size: $font-size-100;
}
.font-size-75 {
  font-size: $font-size-75;
}
.font-size-50 {
  font-size: $font-size-50;
}
.font-size-25 {
  font-size: $font-size-25;
}

.font-bold {
  font-family: $font-family-sans-bold;
}

.font-medium {
  font-family: $font-family-sans-medium;
}

.font-italic {
  font-family: $font-family-sans-italic;
}

.font-regular {
  font-family: $font-family-sans-regular;
}

.font-light {
  font-family: $font-family-sans-light;
}
