@import "variables";

/* Mixins */
@mixin technicalContent {
  font-family: $font-family-sans-serif-alternate;
  font-size: $font-size-h1;
  font-weight: normal;
}
@mixin lifestyleContent {
  font-family: $font-family-handwritten;
  font-size: $font-size-h1 ;
  font-weight: normal;
  text-transform: none;
}
/* END Mixins */

/* GLOBAL FRAMEWORK STYLE */
.container{
  width: 100%;
  padding: 0 $margin-small;

  @media (min-width: 1170px){
    width: 1170px;
    margin: 0 auto;
  }
}
body{
  margin: 0;
}
*, :after, :before{
  box-sizing: border-box;
}
/* END GLOBAL STYLES */


/* TEXT STYLES */
html{
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  margin-bottom: 0.3em;
}

h1{
  font-family: $font-family-sans-serif;
  font-weight: 900;
  font-size: 40px;
  color: $body-bold-color;
  margin-top: 0;
  line-height: 1;
  text-transform: uppercase;

  &.display-technical{
    @include technicalContent;
  }
  &.display-hand{
    @include lifestyleContent;
  }
}
h2{
  font-family: $font-family-sans-serif;
  font-weight: 300;
  font-size: $font-size-h2;
  color: $body-bold-color;
  margin-top: 0;
  line-height: 1;
  text-transform: uppercase;
}
h3{
  font-family: $font-family-sans-serif;
  font-weight: 900;
  font-size: $font-size-h3;
  color: $body-bold-color;
  margin-top: 0;
  line-height: 1;
  text-transform: uppercase;
}
h4{
  font-family: $font-family-sans-serif;
  font-weight: normal;
  font-size: $font-size-h4;
  color: $body-bold-color;
  margin-top: 0;
  line-height: 1;
  text-transform: none;

  &.alt{
    color: $color-brand-secondary;
  }
}
h5{
  font-family: $font-family-sans-serif;
  font-weight: bold;
  font-size: $font-size-h5;
  color: $color-brand-secondary;
  margin-top: 0;
  line-height: 22px;
  text-transform: none;
}
h6{
  font-family: $font-family-sans-serif-alternate;
  font-weight: normal;
  font-size: $font-size-h6;
  color: $body-bold-color;
  margin-top: 0;
  line-height: 1;
  text-transform: uppercase;
}
blockquote{
  font-family: $font-family-sans-serif;
  font-weight: normal;
  border-left: none;
  font-style: italic;
  font-size: 28px;
  color: $color-gray;
  text-align: center;
  margin-top: 0;
  line-height: 34px;
  text-transform: none;

  &.editorial-blockquote{
    font-family: $font-family-sans-serif-alternate;
    font-size: 65px;
    color: $color-gray-darker;
    text-transform: uppercase;
    text-align: center;
    padding: $margin-base 0;
    line-height: 0.92;
    margin: $margin-medium 0;
    position: relative;
    width: 100%;
    font-style: normal;

    &.align-left, &.align-right, &.pull-left, &.pull-right{
      width: 370px;
      margin-top: 0;
    }

    &:before, &:after{
      content: "";
      height: 4px;
      width: 100%;
      max-width: 370px;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -50%;
      background-color: $color-brand-secondary;

      @media (min-width: 400px){
        margin-left: -185px;
      }
    }
    &:after{
      top: auto;
      bottom: 0;
    }
  }
}
.editorial-blockquote-attribution{
  display: block;
  margin-top: $margin-base;
  font-size: $font-size-base + 1;
  text-transform: none;
}
p{
  font-family: $font-family-sans-serif;
  font-weight: normal;
  font-size: $font-size-base;
  color: $body-default-color;
  margin-top: 0;
  line-height: 1.5;
  text-transform: none;

  &.large{
    font-size: 20px;
  }
  &.small{
    font-weight: bold;
    font-size: 11px;
  }
}
a{
  font-family: $font-family-sans-serif;
  font-weight: bold;
  font-size: $font-size-base;
  color: $color-action;
  margin-top: 0;
  line-height: 1.5;
  text-transform: none;
  text-decoration: none;
  transition: color 0.3s ease-out;

  &:hover{
    color: $color-action-hover;
    text-decoration: none;
  }
}
.breadcrumb{
  list-style: none;
  background: none;
  margin: $margin-xsmall 0;
  padding: 0;

  .breadcrumb-link{
    display: inline-block;

    a{
      text-transform: uppercase;
      font-size: $font-size-h6;
      font-weight: normal;
      color: $color-gray-dark;
    }

    &:before{
      content: "/";
      color: $color-gray-dark;
      font-size: $font-size-h6;
      padding: 0 $margin-xsmall;
    }

    &:first-child{
      &:before{
        display: none;
      }
    }
  }
}
.image-caption{
  display: block;
  font-family: $font-family-sans-serif-alternate;
  font-size: $font-size-base + 1;
  text-transform: uppercase;
  color: $color-gray-darker;
  margin-top: $margin-xsmall * 2;
}
label{
  font-family: $font-family-sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: $color-gray-dark;
  margin-top: 0;
  line-height: 1.5;
  text-transform: none;
}
h1, h2, h3, h4, h5, h6, p, label{
  transition: color 0.3s ease-out;
}
hr{
  transition: border-color 0.3s ease-out;
}
.dark-theme{
  h1, h2, h3, h4, h5, h6, p, label{
    color: #fff;
  }
  hr{
    border-color: #fff !important;
  }
}
/* END TEXT STYLES*/

/* DIVIDER STYLES */
hr{
  border-top: 3px solid $color-brand-secondary;
  margin: $margin-xsmall*2 0;

  &.large{
    border-top: 4px solid $color-brand-secondary;
  }
  &.small{
    border-top: 1px solid $color-gray-light;
  }
  &.end-mark{
    border-top: 8px solid $color-brand-secondary;
    width: 25px;
    margin: $margin-base 0;
  }
}
/* END DIVIDER STYLES */

/* BUTTON STYLES */
.btn{
  display: block;
  font-family: $font-family-sans-serif;
  font-weight: bold;
  font-size: $font-size-base;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid $color-brand-secondary;
  color: $color-brand-secondary;
  width: 250px;
  height: 40px;
  transition: $transition-base;

  &:hover{
    border-color: $color-action;
    color: $color-action;
  }

  &.btn-secondary{
    background-color: $color-brand-secondary;
    border: 2px solid $color-brand-secondary;
    color: #fff;

    &:hover{
      background-color: $color-gray-dark;
      border: 2px solid $color-gray-dark;
      color: #fff;
    }
  }
  &.btn-form{
    background-color: $color-brand-secondary;
    border: 2px solid $color-brand-secondary;
    color: $color-action;

    &:hover{
      background-color: $color-gray-dark;
      border: 2px solid $color-gray-dark;
      color: $color-action;
    }
  }
  &.btn-action{
    height: 60px;
    background-color: $color-action;
    border: 2px solid $color-action;
    font-size: 20px;
    color: #fff;

    &:hover{
      background-color: $color-action-hover;
      border: 2px solid $color-action-hover;
      color: #fff;
    }
  }
}

.dark-theme{
  .btn{
    border: 2px solid #fff;
    color: #fff;

    &:hover{
      border-color: $color-action;
      color: $color-action;
    }

    &.btn-secondary{
      background-color: #fff;
      border: 2px solid #fff;
      color: $color-gray-dark;

      &:hover{
        background-color: $color-action;
        border: 2px solid $color-action;
        color: #fff;
      }
    }
    &.btn-form{
      background-color: $color-action;
      border: 2px solid $color-action;
      color: $color-brand-secondary;

      &:hover{
        background-color: $color-action-hover;
        border: 2px solid $color-action-hover;
        color: $color-brand-secondary;
      }
    }
    &.btn-action{
      height: 60px;
      background-color: $color-action;
      border: 2px solid $color-action;
      font-size: 20px;

      &:hover{
        background-color: $color-action-hover;
        border: 2px solid $color-action-hover;
        color: #fff;
      }
    }
  }
}
/* END BUTTON STYLES */

/* FORM STYLES */
#input-example{
  margin-top: 0;
}
input, textarea{
  height: 40px;
  width: 100%;
  border: 1px solid $color-gray-lighter;
  background-color: $color-gray-lightest;
  border-radius: 5px;
  padding: 0 10px;
  color: $color-gray-dark;
  font-family: $font-family-sans-serif;
  font-size: 16px;
  transition: $transition-base;
  margin: 10px 0;
  appearance: none;
  box-shadow: none;

  &:disabled{
    border: none;
  }
  &:focus, &:active{
    border-color: $color-brand-secondary;
    color: $color-brand-secondary;
    outline: none;
    box-shadow: none;
  }
}
.input-error{
  position: relative;

  input{
    border-color: $color-error;
    color: $color-error;
    padding-right: 45px;

    &::-webkit-input-placeholder{
      color: $color-error;
    }
  }

  &:after{
    content: "\e901";
    font-family: $icomoon-font-family;
    color: $color-error;
    position: absolute;
    right: 15px;
    top: 20px;
    font-size: $font-size-base;
  }
}
.input-success{
  position: relative;

  input{
    border-color: $color-success;
    color: $color-success;
    padding-right: 45px;

    &::-webkit-input-placeholder{
      color: $color-success;
    }
  }

  &:after{
    content: "\ed73";
    font-family: $icomoon-font-family;
    color: $color-success;
    position: absolute;
    right: 15px;
    top: 20px;
    font-size: $font-size-base;
  }
}
select{
  height: 40px;
  width: 100%;
  border: 1px solid $color-gray-lighter;
  background-color: $color-gray-lightest;
  border-radius: 5px;
  padding-left: 10px;
  color: $color-gray-dark;
  font-family: $font-family-sans-serif;
  font-size: 16px;
  transition: $transition-base;
  appearance: none;
  margin: 10px 0;
  background-position: 100% 50%;
  background-size: 17px 12px;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2018.1.1%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3Asketch%3D%22http%3A//www.bohemiancoding.com/sketch/ns%22%0D%0A%09%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%22-387.2%20304%2017%2012%22%0D%0A%09%20enable-background%3D%22new%20-387.2%20304%2017%2012%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Ctitle%3ETriangle%201%20Copy%3C/title%3E%0D%0A%3Cdesc%3ECreated%20with%20Sketch.%3C/desc%3E%0D%0A%3Cg%20id%3D%22style%22%20sketch%3Atype%3D%22MSPage%22%3E%0D%0A%09%3Cg%20id%3D%22iPhone-6%22%20transform%3D%22translate%28-334.000000%2C%20-893.000000%29%22%20sketch%3Atype%3D%22MSArtboardGroup%22%3E%0D%0A%09%09%0D%0A%09%09%09%3Cg%20id%3D%22Rectangle-4-Copy-5-_x2B_-Triangle-1-_x2B_-Triangle-1-Copy-_x2B_-Placeholder-Copy-5%22%20transform%3D%22translate%2875.000000%2C%20874.000000%29%22%20sketch%3Atype%3D%22MSLayerGroup%22%3E%0D%0A%09%09%09%3Cg%20id%3D%22Triangle-1-_x2B_-Triangle-1-Copy%22%20transform%3D%22translate%28259.000000%2C%2011.000000%29%22%20sketch%3Atype%3D%22MSShapeGroup%22%3E%0D%0A%09%09%09%09%3Cpolygon%20id%3D%22Triangle-1-Copy%22%20points%3D%22-382.5%2C312%20-378.1%2C316.5%20-387%2C316.5%20%09%09%09%09%22/%3E%0D%0A%09%09%09%3C/g%3E%0D%0A%09%09%3C/g%3E%0D%0A%09%3C/g%3E%0D%0A%3C/g%3E%0D%0A%3Cg%20id%3D%22style_1_%22%20sketch%3Atype%3D%22MSPage%22%3E%0D%0A%09%3Cg%20id%3D%22iPhone-6_1_%22%20transform%3D%22translate%28-334.000000%2C%20-893.000000%29%22%20sketch%3Atype%3D%22MSArtboardGroup%22%3E%0D%0A%09%09%0D%0A%09%09%09%3Cg%20id%3D%22Rectangle-4-Copy-5-_x2B_-Triangle-1-_x2B_-Triangle-1-Copy-_x2B_-Placeholder-Copy-5_1_%22%20transform%3D%22translate%2875.000000%2C%20874.000000%29%22%20sketch%3Atype%3D%22MSLayerGroup%22%3E%0D%0A%09%09%09%3Cg%20id%3D%22Triangle-1-_x2B_-Triangle-1-Copy_1_%22%20transform%3D%22translate%28259.000000%2C%2011.000000%29%22%20sketch%3Atype%3D%22MSShapeGroup%22%3E%0D%0A%09%09%09%09%3Cpolygon%20id%3D%22Triangle-1-Copy_1_%22%20points%3D%22-382.5%2C324%20-387%2C319.5%20-378.1%2C319.5%20%09%09%09%09%22/%3E%0D%0A%09%09%09%3C/g%3E%0D%0A%09%09%3C/g%3E%0D%0A%09%3C/g%3E%0D%0A%3C/g%3E%0D%0A%3C/svg%3E%0D%0A');
  background-repeat: no-repeat;
}
select:focus {
  border: 1px solid #000;
  outline: none;
}

/*MAGIC: hides dotted lines in FF for mac*/
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

select::-moz-focus-inner,
option::-moz-focus-inner {
  outline: none;

}


/*MAGIC: this is the key for getting rid of the down arrow in IE*/
select::-ms-expand {
  display: none;
}
.input-btn{
  position: relative;

  input{
    padding-right: 160px;
  }

  .btn{
    position: absolute;
    right: 0;
    bottom: 10px;
    border-radius: 0 5px 5px 0;
    width: auto;

    @media (min-width: 500px){
      width: 150px;
    }
  }
}
textarea{
  height: 240px;
  padding: 10px;
}
.style-guide-checkbox-container, .style-guide-radio-container{
  display: inline-block !important;
  width: 100%;

  @media (min-width: 600px){
    width: 49%;
  }
}
.checkbox{
  position: relative;
  display: block;
  margin: 10px 0;
}
.checkbox input[type="checkbox"], .radio input[type="radio"] {
  height: 1px;
  width: 1px;
  opacity: 0;
  margin: 0;
  padding: 0;
}

.checkbox label, .radio label {
  position: relative;
  display: block;
  margin: .1em 0;
  line-height: 1.4em;
  padding: .36em 0 .36em 2.5em;
  color: $color-gray-darker;
  font-family: $font-family-sans-serif;
  font-size: 16px;
  &:before {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    height: 30px;
    width: 30px;
    border-radius: 3px;
    color: $color-brand-secondary;
    background-color: $color-gray-lightest;
    transition: background-color 0.15s ease-out;
    content: "";
    z-index: 1;
    border: 1px solid $color-gray-lighter;
  }
  &:after {
    content: "";
    opacity: 0;
    transition: opacity 0.15s ease-out;
    position: absolute;
    z-index: 2;
    display: block;

  }
  &:hover{
    &:before{
      background-color: darken($color-gray-lightest, 10%);
    }
  }
}

.checkbox-small label, .radio-small label {
  font-size: 16px;
  &:before {
    top: 6px;
    left: 9px;
    height: 20px;
    width: 20px;
  }
}

.radio input:checked+label:after, .checkbox input:checked+label:after {
  opacity: 1;
}
.radio input:checked+label:before, .checkbox input:checked+label:before {
  background-color: $color-gray-darker;
}

.radio label:before, .radio label:after {
  border-radius: 100%;
}

.radio label:after {
  left: 10px;
  top: 10px;
  background: $color-gray-lightest;
  height: 10px;
  width: 10px;
}

.checkbox label:after {
  left: 9px;
  top: 4px;
  content: "\ed73";
  font-family: $icomoon-font-family;
  font-size: 12px;
  color: #fff;
}
.radio-small label:after {
  left: 15px;
  top: 12px;
  height: 8px;
  width: 8px;
}

.checkbox-small label:after {
  left: 14px;
  top: 6px;
  font-size: 11px;
}

.dark-theme{
  input, textarea, select{
    border-color: $color-gray-dark;
    background-color: rgba(245, 246, 245, 0.04);

    &:focus, &:active{
      border-color: #fff;
      color: #fff;
      outline: none;
    }
  }
  .input-error input{
    border-color: $color-error;
  }
  .input-success input{
    border-color: $color-success;
  }
  .checkbox label, .radio label {
    color: $color-gray-lightest;
    &:before {
      background-color: $color-brand-secondary;
    }
    &:hover{
      &:before{
        background-color: lighten($color-brand-secondary, 10%);
      }
    }
  }
}
/* END FORM STYLES */
















