@import "variables";
@import "type";
@import "buttons";
@import "colors";
@import "dividers";
@import "forms";
@import "fonts";


.container {
  width: 100%;
  padding: 0 $spacing-300;

  @media (min-width: $screen-desktop) {
    width: $screen-desktop;
    margin: 0 auto;
  }
}

body {
  margin: 0;
}

*, :after, :before {
  box-sizing: border-box;
}

